@media (min-width: 375px) {

   
}

@media (min-width: 768px) {
    .contact-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
        height: 35rem;
    }
}