:root {
  --primary: #1d1d1f;
  --secondary: #acacac;
  --third: #888;
  --blackBg: #1a1a1a;
  --blackBg2: #1a1a1a;
  --grayText: #aaa;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 2rem;
    color: #29303b;
    background-color: #fafafa;
}



/*---------------------------------------*/
/*NAVI*/
/*---------------------------------------*/

#navigation {
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    width: 100%;
    /* margin: 0 auto; */
    Padding: 10px 10px;
    border-bottom: 1px solid #EAEAEA;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
    color:#555;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-brand,
.navbar-brand:hover {
    color: #555;
}

.navbar-toggler-icon {
    background: url(../img/menu.png);
    background-size: 100%;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
    border-bottom: 1px solid #EAEAEA;
}

/*---------------------------------------*/
/*FOOTER*/
/*---------------------------------------*/

