:root {
  /*Primary*/
  --Primary-Black: #0F1015;
  --Secondary-Black: #0A0B0F;
  /*Neutral*/
  --Primary-Gray: #ACACAC;
  --Nav-Gray: #a2a2a2;
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

@media (min-width: 375px) {

   
}

@media (min-width: 768px) {

  /*HERO*/
  .hero-h1 {
    font-size: 2.8rem;
  }
  
  .hero-desc {
    font-size: 6rem;
    max-width: 500px;
  }
      .hero-image {
        max-width: 60rem;
        margin-bottom: 9rem;
      }

      .hero-cta {
        max-width: 30rem;
        flex-direction: row;
        justify-content: space-between;
      }

      .btn {
        font-size: 2rem; 
      }

      .btn-white {
        margin-right: 1rem;
      }
      
      .btn-transparent {
        margin-left: 1rem;
      }


    /*MENU*/

    .menu-h2 {
      font-size: 4rem;
    }
    
    .menu-desc {
      font-size: 2.6rem;
    }


      .menu-box {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .about {
        flex-direction: row;
      }

      .about-box {
        flex: 1;
      }

      .about-image {
        flex: 1;
      }
}

@media (min-width: 1024px) {
       
    /* .navbar {
        max-width: 86.67%;
    } */

    .hero-h1 {
        font-size: 3rem;
      }

    .hero-desc {
        margin: 0 auto;
        font-size: 8rem;
        max-width: 680px;
        line-height: 1em;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .menu-h2 {
      font-size: 5rem;
    }
    
    .menu-desc {
      font-size: 2.6rem;
    }
    
    

}
