:root {
  /*Primary*/
  --Primary-Black: #0F1015;
  --Secondary-Black: #0A0B0F;
  /*Neutral*/
  --Primary-Gray: #ACACAC;
  --Nav-Gray: #a2a2a2;
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

/*Headings
  font-family: 'DM Serif Display', serif;
  Weights: 400
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: var(--Primary-Black);
}

/*NAV*/
#lux {
  font-size: 2rem;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.social-icon {
  color: #fff;
  font-size: 3rem;
  transition: all 0.4s ease;
  padding-top: 24px;
  padding-left: 15px;
}

.social-icon:hover {
  color: var(--Nav-Gray);
}

.nav-container {
  margin: 0 auto;
  width: 96%;
  max-width: 1440px;
}

/* .logo {
  width: 10rem;
  flex: 1;
  display: flex;
  justify-content:  center;
} */

.nav-logo { 
  width: 40px;
  margin-left: 26px;
}

/* .nav-items {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  margin-left: 2rem;
  color: #fff;
  transition: all 0.4s ease;
}

.nav-link:hover {
  color: var(--Nav-Gray);
} */


/* HERO */
.hero {
  margin-top: 10rem;
  text-align: center;
}

.hero-h1 {
  color: var(--Nav-Gray);
  font-size: 2.7rem;
}

.hero-desc {
  margin: 0 auto;
  color: #fff;
  max-width: 300px;
  font-size: 3.9rem;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 2rem;
}

.hero-cta {
  margin: 0 auto;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  transition: all 0.4s ease;
  margin: 1rem;
}

.btn-white {
  color: var(--Primary-Black);
  background-color: #fff;
  border: 1px solid #fff;
  flex: 1;
}

.btn-white:hover {
  color: #fff;
  background-color: transparent;
}

.btn-transparent {
  color: #fff;
  border: 1px solid #fff;
  flex: 1;
}

.btn-transparent:hover {
  color: var(--Primary-Black);
  background-color: #fff;
}

.hero-image {
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 0rem;
}

.hero-img {
  width: 100%;
}


/*MENU*/

.menu {
  margin: 0 auto;
  background-color: var(--Secondary-Black);
  text-align: center;
  margin-bottom: 4rem;
}

.menu-h2 {
  padding-top: 9rem;
  color: #fff;
  font-size: 3.2rem;
}

.menu-desc {
  color: var(--Primary-Gray);
  font-size: 2rem;
  padding-bottom: 5rem;
}

.menu-box {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-link {
  text-decoration: none;
}
.menu-box__card {
  padding: 2rem;
}

.menu-image {
  max-width: 40rem;
  margin-bottom: 1rem;
}

.menu-img {
  width: 100%
}

.menu-card-desc {
  color: var(--Primary-Gray);
  font-size: 2rem;
  padding-bottom: 5rem;
}


.menu-cta {
  padding-bottom: 9rem;
}

.image-chef {
  width: 100%;
}

.about {
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--Secondary-Black);
}

.about-box {
  display: flex;
  flex-direction: column;
}

.about-header2 {
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
}

.about-desc {
  font-size: 4rem;
  color: #fff;
}

.about-img {
  width: 100%;
}




